<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container my-2">
	<h1 th:text="${campaign.campaignName}"></h1>
	<h3>Line Items</h3>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=id&sortDirection=' + ${reverseSortDirection}}">
							ID</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=name&sortDirection=' + ${reverseSortDirection}}">
							Name</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=bookedAmount&sortDirection=' + ${reverseSortDirection}}">
							Booked Amount</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=actualAmount&sortDirection=' + ${reverseSortDirection}}">
							Actual Amopunt</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=adjustments&sortDirection=' + ${reverseSortDirection}}">
							Adjustments</a>
					</th>
					<th>
						Billable Amount
					</th>
					<th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=comment&sortDirection=' + ${reverseSortsortDirection}}">
							Comment</a>
					</th>
					<th>
						Status
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lineItem : ${lineItemList}">
					<td th:text="${lineItem.id}"></td>
                    <td th:text="${lineItem.name}"></td>
                    <td th:text="${lineItem.bookedAmount}"></td>
                    <td th:text="${lineItem.actualAmount}"></td>
                    <td th:text="${lineItem.adjustments}"></td>
					<td th:text="${lineItem.billableAmount}"></td>
					<td th:text="${lineItem.comment}"></td>
					<td th:text="${lineItem.statusStr}"></td>
					<td><a th:href="@{/showLineItemForUpdate/{id}(id=${lineItem.id})}" th:if="${lineItem.status != 1}" class="btn btn-primary">Update</a></td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/lineItems/page/campaign/' + ${i}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/lineItems/page/campaign/' + ${currentPage + 1}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/lineItems/page/campaign/' + ${totalPages}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
		<div>
			<h3 th:text="'Sub Totals:' + ${subTotals}"></h3>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>