<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<script th:src="@{/component/jquery-3.6.0.min.js}" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#isChecked").change(function() {
				var campaignId = $("#inputCampaignId").val();
				var isChecked = $("#isChecked").is(":checked");

				var json = {
				   "campaignId" : campaignId,
				   "isChecked"  : isChecked
				};

				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/lineItems/markCampaignAsReviewed",
					data : JSON.stringify(json),
					dataType : 'json',
					success : function(result) {
						if(result.status == "SUCCESS") {
							if(result.isChecked == true) {
								$(".status").html('Reviewed');
								$(".btn-primary").hide();
							} else {
								$(".status").html('Unreviewed');
								$(".btn-primary").show();
							}
						}
				   	},
				   		error : function(e) {
						alert(e);
					}
				});
			})
		});
	</script>
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<div class="container my-2">
	<h1 th:text="${campaign.campaignName}"></h1>
	<h3>Line Items</h3>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=id&sortDirection=' + ${reverseSortDirection}}">
							ID</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=name&sortDirection=' + ${reverseSortDirection}}">
							Name</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=bookedAmount&sortDirection=' + ${reverseSortDirection}}">
							Booked Amount</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=actualAmount&sortDirection=' + ${reverseSortDirection}}">
							Actual Amopunt</a>
					</th>
                    <th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=adjustments&sortDirection=' + ${reverseSortDirection}}">
							Adjustments</a>
					</th>
					<th>
						Billable Amount
					</th>
					<th>
						<a th:href="@{'/lineItems/page/campaign/' + ${currentPage} + '?campaignId=' + ${campaignId} + '&sortField=comment&sortDirection=' + ${reverseSortsortDirection}}">
							Comment</a>
					</th>
					<th>
						Status
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lineItem : ${lineItemList}">
					<td th:text="${lineItem.id}"></td>
                    <td th:text="${lineItem.name}"></td>
                    <td th:text="${lineItem.bookedAmount}"></td>
                    <td th:text="${lineItem.actualAmount}"></td>
                    <td th:text="${lineItem.adjustments}"></td>
					<td th:text="${lineItem.billableAmount}"></td>
					<td th:text="${lineItem.comment}"></td>
					<td class="status" th:text="${lineItem.statusStr}"></td>
					<td><a name th:href="@{/showLineItemForUpdate/{id}(id=${lineItem.id})}" th:if="${lineItem.status != 1}" class="btn btn-primary">Update</a></td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/lineItems/page/campaign/' + ${i}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/lineItems/page/campaign/' + ${currentPage + 1}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/lineItems/page/campaign/' + ${totalPages}+ '?campaignId=' + ${campaignId} + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
		<div>
			<h3 th:text="'Sub Totals:' + ${subTotals}"></h3>
			<div>
				<input id="inputCampaignId" type="hidden" th:value="*{campaignId}" />
				<input id="isChecked" name="isChecked" type="checkbox" th:checked="${isChecked}">
				<label for="isChecked">Reviewed</label>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>