<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Placement-Teaser</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">

    <a class="navbar-brand" th:href="@{/}">Home</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:class="${activePage == 'campaigns'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{'/campaigns/page/1?sortField=campaignName&sortDirection=asc'}">Campaign</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'linItems'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/lineItems/page/1?sortField=id&sortDirection=asc&keyword}">Line Item</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'invoices'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/invoices/page/1?sortField=invoiceNumber&sortDirection=asc}">Invoice</a>
            </li>
            <li class="nav-item" th:class="${activePage == 'changeLogs'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/changeLogs/page/1?sortField=createTimestamp&sortDirection=asc}">Change Log</a>
            </li>
        </ul>
    </div>

    <div class="float-right" style="color:white;" th:text="'Hello, ' + ${#authentication.name}"></div>
    <div class="float-right" sec:authorize="${isAuthenticated()}">
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger" />
        </form>
    </div>
</nav>
</body>
</html>